<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.JS | Signup</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>

    <div class="centerDiv">
        <h1 class="form-title">Signup</h1>
        <form class="form" autocomplete="off">
            <!--form group-->
            <div class="form-group">
                <label for="fullname">Fullname</label>
                <input type="text" name="fullname">
            </div>
            <!--form group-->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <!--form group-->
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div><br>
            <button class="submit-btn">Signup</button>
            <p class="bottom-text">Already a member? <a href="/login">Login Here</a></p>
        </form>
    </div>
    <div class="error"></div>
    <script src="/js/signup.js"></script>
</body>
</html>